<div class="">
  <div>Dog Bingo</div>
  <div class="">
    <div class="">
      <div class="">
        Generate
        <div class="">
          <input type="number" class="" />
        </div>
        random bingo cards,
        <div class="">
          each with
          <div class="">
            <input type="number" class="" />
          </div>
          rows/columns.
        </div>
      </div>
      <div class="">
        <button class="" (click)="generate()">Generate</button>
      </div>
    </div>
  </div>
</div>
